<%= form_for(current_user.active_relationships.build,remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id,@user.id %></div>
  <%= f.submit "Follow",class: "btn btn-primary" %>
<% end %>
  